<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=stylesheet href="/css/style.css">
    <script src="/js/show_form.js"></script>
</head>
<body>
    <header>
        <!-- behövs ettan?-->
        <%if !@user.nil? && @user['role_change'].to_i == 1%>
            <a href="/users/edit">Admin stuff</a>
        <%end %>
        <a href="/">Kasino jämförare</a>
        <%if @user.nil? %>
            <a href="/users/new">Sign in</a>
            <a href="/users">Log in</a>
        <%end %>
        <%if !@user.nil? %>
            <a href="/users/logout">Log out</a>
        <%end %>
        <%if !@user.nil? && @user['make'].to_i == 1%>
            <a id="layout_new_casino" href="/casinos/new">Add kasino</a>
        <%end %>
        <%if !@user.nil? %>
            <a>USER: <%= h(@user['username']) %></a>
        <%end %>
    </header>
    <%= yield %>
</body>
</html>