<form action="/users" method="post">
  <label for="name">Name:</label> <br>
  <input type="text" id="name" name="username" required>
  <br>

  <label for="password">Password:</label> <br>
  <input type="password" id="password" name="password" required>
  <br>

  <%if @login_failed %>
    <p id='error'>Wrong username or password</p>
  <%end %>

  <br>

  <input type="submit" value="Submit">
</form>