<form action="/users/new" method="post">
  <label for="name">Name:</label> <br>
  <input type="text" id="name" name="username" required>

  <br>

  <label for="email">Email:</label> <br>
  <input type="email" id="email" name="email" required>

  <br>

  <label for="password">Password:</label> <br>
  <input type="password" id="password" name="password" required>

  <br>

  <label for="re_password">Type password again:</label> <br>
  <input type="password" id="re_password" name="re_password" required>

  <br>

  <input type="submit" value="Submit">
</form>